@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

/* popup window style */
.Overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(91, 112, 131, 0.4);;
}
.Modal{
  background-color: black;
  color: white;
  width: fit-content;
}